// ::: regular colors here ::: //

$color-black: #000000;
$color-white: #ffffff;


// ::: theme colors here ::: //

$primary-theme-color: #1f4ba5;
$primary-text-color: #222222;
$secondary-text-color: #868686;

$catalogue-hit-color: #ffc12b;
$catalogue-sale-color: #ff3f2b;
$catalogue-new-color: #68bf7b;