@import "reset";

body {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.05em;
}

// ::: COMMON CLASSES STARTS HERE ::: //

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

// ::: COMMON CLASSES ENDS HERE ::: //