@import "reset";
@import "colors";
@import "mixins";

body {
  font-family: 'Varela Round', sans-serif;
}

// ::: COMMON CLASSES STARTS HERE ::: //

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

// ::: COMMON CLASSES ENDS HERE ::: //