@import "colors";
@import "mixins";

// ::: HEADER STYLES STARTS HERE ::: //

.header {
  height: 80px;
}

.header__hamburger__nav,
.header__nav__link__menu-list {
  position: absolute;
  z-index: 999;
  background: #ffffff;
  width: 300px;
  left: 0;
  top: calc(100% + 30px);
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transition: all 0.2s ease-out;
}

.header__hamburger:hover .header__hamburger__nav,
.header__nav__link:hover .header__nav__link__menu-list {
  top: 100%;
  transform: scale(1);
}

.header__hamburger__nav__link,
.header__nav__link__menu-list__item {
  font-size: 16px;
  display: block;
  height: 52px;
  padding: 16px 25px;
  border-top: 1px solid rgba(204, 204, 204, 0.3);
  color: $primary-text-color;
  transition: all 0.1s ease-out;
}

.header__hamburger__nav__link:hover,
.header__nav__link__menu-list__item:hover {
  padding: 16px 35px;
}

.header__hamburger {
  position: relative;
  width: 70px;
  height: 100%;
}

.header__hamburger__button {
  height: 100%;
  width: 100%;
  border: 0;
  background: none;
  position: relative;
}

.header__hamburger__button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__logo {
  width: 180px;
  height: 100%;
  background: url("./../src/images/logo.png") no-repeat center center;
  background-size: 80%;
  margin-left: 10px;
}

.header__nav {
  height: 100%;
  margin-left: 60px;
}

.header__nav__link {
  float: left;
  height: 100%;
  padding: 30px 20px;
  margin-left: 5px;
  position: relative;
}

.header__nav__link__title {
  position: relative;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 600;
  color: $primary-text-color;
}

.header__nav__link__title:before {
  position: absolute;
  font-size: 8px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 6px;
  right: 0;
  color: $primary-theme-color;
}

.header__actions {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}

.header__actions__link {
  height: 100%;
  float: left;
  width: 40px;
  margin-left: 10px;
  position: relative;
}

.header__actions__link.search-button {
  border: 0;
  background: none;
}

.header__actions__link:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: $primary-text-color;
}

.header__actions__link__notifier {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $primary-theme-color;
  color: $color-white;
  font-size: 11px;
  padding: 3px 5px;
  right: 0;
}

@media #{$only-screen} and #{$medium-devices} {

  .header {
    height: 120px;
  }

  .header__hamburger {
    height: 60px;
    width: 50px;
  }

  .header__logo {
    height: 60px;
    width: 100px;
    background-size: 100%;
  }

  .header__actions {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
  }

  .header__nav {
    height: 60px;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .header__nav__link {
    padding: 20px 5px;
    margin-left: 0;
  }

  .header__nav__link__title {
    font-size: 13px;
    padding-right: 13px;
  }

  .header__nav__link__title:before {
    font-size: 7px;
    top: 5px;
  }

  .header__actions__link:before {
    font-size: 15px;
  }

  .header__actions__link__notifier {
    width: 15px;
    height: 15px;
    font-size: 9px;
  }

  .header__hamburger__nav,
  .header__nav__link__menu-list {
    width: 200px;
  }

  .header__hamburger__nav__link,
  .header__nav__link__menu-list__item {
    font-size: 14px;
    height: 46px;
    padding: 14px 20px;
  }

  .header__nav__link:last-child .header__nav__link__menu-list {
    left: auto;
    right: 0;
  }

}

// ::: HEADER STYLES ENDS HERE ::: //

// ::: BANNER STYLES STARTS HERE ::: //

.banner__wrapper {
  height: 500px;
}

.banner {
  height: 100%;
  width: calc(100% - 250px);
  position: relative;
  background: #eeeeee;
}

.banner-nav {
  width: 250px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.banner-nav__list-item {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.banner-nav__list-item.thumb1 {
  background-image: url(./../src/images/banner/banner1-thumb.png);
}

.banner-nav__list-item.thumb2 {
  background-image: url(./../src/images/banner/banner2-thumb.png);
}

.banner-nav__list-item.thumb3 {
  background-image: url(./../src/images/banner/banner3-thumb.png);
}

.banner-nav__list-item.thumb4 {
  background-image: url(./../src/images/banner/banner4-thumb.png);
}

.banner-nav__list-item.active:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 100%;
  left: 0;
  top: 0;
  background: $primary-theme-color;
  z-index: 9;
}

.banner-nav__list-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.15s ease-out;
}

.banner-nav__list-item.active:after,
.banner-nav__list-item:hover:after {
  opacity: 1;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url(./../src/images/banner/banner2.png) no-repeat center;
  background-size: cover;
}

.banner__hero {
  position: relative;
  float: left;
  z-index: 9;
  width: 280px;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.banner__slider-nav {
  position: absolute;
  z-index: 99;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid $secondary-text-color;
  color: $secondary-text-color;
  background: transparent;
}

.banner__hero__cateogry-title {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: blue;
}

.banner__hero__title {
  font-size: 42px;
  margin-top: 20px;
}

.banner__hero__desc-title {
  font-size: 16px;
  margin-top: 15px;
  color: $secondary-text-color;
}

.banner__hero__button {
  height: 38px;
  border-radius: 20px;
  border: 0;
  background-color: $primary-theme-color;
  color: $color-white;
  margin-top: 50px;
}

.banner__hero__button__title-left {
  padding: 8px 20px 8px 30px;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  height: 100%;
}

.banner__hero__button__title-right {
  font-size: 13px;
  padding: 11px 30px;
}

.banner__slider-nav:before {
  font-size: 16px;
}

.banner__slider-nav.left {
  left: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.banner__slider-nav.left:before {
  position: relative;
  left: 1px;
}

.banner__slider-nav.right {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

@media #{$only-screen} and #{$medium-devices} {

  .banner__hero {
    left: 90px;
    width: 220px;
  }

  .banner__wrapper {
    height: 400px;
  }

  .banner-nav {
    width: 200px;
  }

  .banner {
    width: calc(100% - 200px);
  }

  .banner__hero__title {
    font-size: 32px;
  }

  .banner__hero__desc-title {
    font-size: 14px;
  }

}

@media #{$only-screen} and #{$small-devices} {

  .banner__wrapper {
    height: 200px;
  }

  .banner {
    width: 100%;
    height: calc(100% - 40px);
  }

  .banner-nav {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .banner__hero {
    left: 50px;
    width: 150px;
  }

  .banner__slider-nav {
    width: 24px;
    height: 24px;
  }

  .banner__slider-nav.left {
    left: 10px;
  }

  .banner__slider-nav.left:before {
    font-size: 12px;
  }

  .banner__hero__title {
    font-size: 24px;
    margin-top: 5px;
  }

  .banner__hero__desc-title {display: none;}

  .banner__hero__cateogry-title {
    display: none;
  }

  .banner__hero__button {
    height: 30px;
    margin-top: 20px;
  }

  .banner__hero__button__title-left {
    font-size: 10px;
    padding: 8px 15px 8px 20px;
  }

  .banner__hero__button__title-right {
    font-size: 11px;
    padding: 8px 16px 8px 10px;
  }

  .banner__slider-nav.right {
    right: 10px;
  }

  .banner-nav__list-item.active:before {
    width: 6px;
  }

}

// ::: BANNER STYLES ENDS HERE ::: //

// ::: CATALOGUE STYLES STARTS HERE ::: //

.catalogue__list {
  float: left;
  width: calc(100% / 4);
  height: calc(100vw / 4);
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.catalogue__list:nth-child(4n) {
  border-right: 0;
}

.catalogue-list__list__item-featured__icon:before {
  font-size: 22px;
  color: $secondary-text-color;
}

.catalogue-list__list__item-featured__title {
  font-family: 'Oswald', sans-serif;
  color: $primary-theme-color;
  font-size: 34px;
  margin-top: 30px;
  text-align: center;
}

.catalogue-list__list__item-featured__sub-title {
  color: $secondary-text-color;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
}

.catalogue-list__list__item.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.catalogue-list__list__item {
  float: left;
  height: 100%;
  width: 100%;
}

.catalogue-list__list__item__title {
  height: 70px;
  display: block;
  text-align: center;
  padding-top: 40px;
  width: 200px;
  margin: auto;
  color: $primary-text-color;
  font-size: 14px;
}

.catalogue-list__list__item__footer {
  height: 70px;
  display: flex;
  padding: 10px 40px;
  flex-direction: row;
  justify-content: space-between;
}

.catalogue-list__list__item__img__wrapper {
  height: calc(100% - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue-list__list__item__img {
  height: 80%;
  transition: all 0.2s ease-out;
}

.catalogue-list__list__item:hover .catalogue-list__list__item__img {
  transform: scale(1.2);
}

.catalogue-list__list__item__footer__tag {
  height: 20px;
  font-size: 10px;
  background: $color-black;
  position: relative;
  color: $color-white;
  padding: 2px 5px 4px 8px;
  border-radius: 5px 0 0 5px;
  font-family: 'Oswald', sans-serif;
}

.catalogue-list__list__item__footer__tag:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  border-radius: 3px;
  right: -7px;
  top: 2px;
  transform: rotate(45deg);
  background: $color-black;
  z-index: -1;
}

.catalogue-list__list__item__footer__tag.hit,
.catalogue-list__list__item__footer__tag.hit:after {
  background: $catalogue-hit-color;
}

.catalogue-list__list__item__footer__tag.sale,
.catalogue-list__list__item__footer__tag.sale:after {
  background: $catalogue-sale-color;
}

.catalogue-list__list__item__footer__tag.new,
.catalogue-list__list__item__footer__tag.new:after {
  background: $catalogue-new-color;
}

.catalogue-list__list__item__footer__title {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: $primary-text-color;
}

.catalogue-list__list__item__footer__title.sale {
  color: $catalogue-sale-color;
}

.catalogue-list__list__item__footer__sub-title {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  padding-top: 3px;
  text-decoration: line-through;
  color: $secondary-text-color;
}

@media #{$only-screen} and #{$medium-devices} {
  .catalogue__list {
    width: calc(100% / 3);
    height: calc(100vw / 3);
  }

  .catalogue__list:nth-child(4n),
  .catalogue__list:last-child {
    border-right: 1px solid #f1f1f1;
  }

  .catalogue-list__list__item-featured__title {
    margin-top: 15px;
  }
}

@media #{$only-screen} and #{$small-devices} {

  .catalogue__list {
    width: calc(100% / 2);
    height: calc(100vw / 2);
  }

  .catalogue-list__list__item-featured__title {
    font-size: 18px;
    margin-top: 10px;
  }

  .catalogue-list__list__item-featured__sub-title {
    font-size: 13px;
    margin-top: 10px;
  }

  .catalogue-list__list__item__footer {
    height: 40px;
    padding: 5px 20px;
  }

  .catalogue-list__list__item__title {
    height: 40px;
    padding: 14px 20px 0;
    width: 100%;
    font-size: 11px;
  }

  .catalogue-list__list__item__img__wrapper {
    height: calc(100% - 80px);
  }

  .catalogue-list__list__item__img {
    width: auto;
    height: 75%;
  }

  .catalogue-list__list__item__footer__tag {
    height: 17px;
    border-radius: 3px;
    font-size: 9px;
    padding-top: 1px;
  }

  .catalogue-list__list__item__footer__tag:after {
    height: 13px;
    top: 2px;
    width: 13px;
    right: -5px;
  }

  .catalogue-list__list__item__footer__title {
    font-size: 12px;
  }

  .catalogue-list__list__item__footer__sub-title {
    font-size: 10px;
  }

}

// ::: CATALOGUE STYLES ENDS HERE ::: //

// ::: BRANDS STYLES STARTS HERE ::: //

.brands-list__item {
  width: calc(100% / 8);
  height: calc(100vw / 8);
  float: left;
  border-right: 1px solid #ececec;
  position: relative;
}

.brands-list__item:last-child {
  border: 0;
}

.brands-list__item__img {
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brands-list__item__title1,
.brands-list__item__title2 {
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d5d5d5;
}

.brands-list__item__title2 {
  font-size: 16px;
  z-index: 1;
  color: $primary-theme-color;
  text-align: center;
  word-break: break-word;
}

@media #{$only-screen} and #{$medium-devices} {
  .brands-list__item,
  .brands-list__item:last-child {
    width: calc(100% / 4);
    height: calc(100vw / 4);
    border-top: 1px solid #f1f1f1;
    top: -1px;
  }
}

@media #{$only-screen} and #{$small-devices} {

  .brands-list__item {
    width: calc(100% / 4);
    height: calc(100vw / 4);
    border-bottom: 1px solid #ececec;
    border-top: 0;
  }

  .brands-list__item:last-child {
    border-top: 0;
  }

  .brands-list__item__img {
    width: 55%;
  }

  .brands-list__item__title1 {
    font-size: 46px;
  }

  .brands-list__item__title2 {
    font-size: 9px;
  }

}

// ::: BRANDS STYLES ENDS HERE ::: //

// ::: FOOTER STYLES STARTS HERE ::: //

.footer {
  background: $primary-text-color;
}

.footer__nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav__link {
  color: $color-white;
  margin: 0 40px;
  position: relative;
}

.footer__nav__link:after {
  content: '';
  position: absolute;
  right: -41px;
  top: 8px;
  width: 5px;
  height: 5px;
  background: #656565;
  border-radius: 50%;
}

.footer__nav__link:last-child:after {
  display: none;
}

.footer__nav__link:hover {
  text-decoration: underline;
}

.footer__col-wrapper {
  height: 140px;
  border-top: 1px solid #353535;
}

.footer__col {
  width: 300px;
  height: 100%;
  border-right: 1px solid #353535;
}

.footer__col:last-child {
  border: 0;
}

.footer__col.col2 {
  width: calc(100% - 600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__col__copyright-text {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-family: Times;
  display: block;
  width: 180px;
  text-align: center;
  margin-top: 10px;
}

.footer__col__logo {
  display: block;
  height: 22px;
  width: 100px;
  background: url(./../src/images/logo-grey.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.footer__col.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__col__email {
  width: calc(100% - 60px);
  height: 38px;
  position: relative;
}

.footer__col__email__input {
  background: #393939;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
  padding: 0 55px;
  color: #ffffff;
  font-size: 14px;
}

.footer__col__email__icon {
  position: absolute;
  left: 20px;
  top: 8px;
  pointer-events: none;
}

.footer__col__email__icon:before {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.footer__col__email__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 100%;
  background: none;
  border: none;
}

.footer__col__email__button:before {
  transform: rotate(180deg);
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  transition: all 0.15s ease-out;
}

.footer__col__email__button:hover:before {
  color: #ffffff;
}

.footer__col__nav__link {
  float: left;
  padding-right: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.footer__col__nav__link:last-child {
  padding-right: 0;
}

.footer__col__nav__link:hover {
  text-decoration: underline;
}

.footer__col__social-nav {
  height: 70px;
  border-bottom: 1px solid #353535;
  text-align: center;
  padding-top: 15px;
}

.footer__col__social-nav__link {
  color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  margin: 0 10px;
  transition: all 0.15s ease-out;
}

.footer__col__social-nav__link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer__col__social-nav__link:before {
  font-size: 26px;
}

.footer__col__payment-list {
  overflow: hidden;
}

.footer__col__payment-list__item {
  color: rgba(255, 255, 255, 0.3);
  margin: -11px 10px;
  float: left;
}

.footer__col__payment-list__item:before {
  font-size: 55px;
}

.footer__col__payment-list__item.flaticon-mastercard:before {
  font-size: 42px;
}

.footer__col__payment-list__item.flaticon-paypal-logo:before {
  font-size: 80px;
}

.footer__col__payment-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media #{$only-screen} and #{$medium-devices} {
  .footer__col {
    width: 250px;
  }

  .footer__col.col2 {
    width: calc(100% - 500px);
  }

  .footer__col__social-nav__link {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .footer__nav__link {
    font-size: 13px;
    margin: 0 21px;
  }

  .footer__nav__link:after {
    right: -21px;
  }

  .footer__col__social-nav {
    padding-top: 10px;
  }

  .footer__col__email {
    width: calc(100% - 20px);
  }

  .footer__col__nav__link {
    display: block;
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-top: 10px;
  }
}

@media #{$only-screen} and #{$small-devices} {

  .footer__nav__link {
    margin: 0 10px;
    font-size: 12px;
    height: 30px;
    padding: 7px;
  }

  .footer__nav__link:after {
    right: -11px;
    top: 12px;
    width: 4px;
    height: 4px;
  }

  .footer__nav {
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col.col2 {
    width: 100%;
    height: auto;
    padding: 20px 0 10px;
    border-bottom: 1px solid #353537;
  }

  .footer__col__email {
    width: calc(100% - 60px);
  }

  .footer__col__nav__link {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
    padding-right: 0;
  }

  .footer__col__nav {
    padding: 10px 0;
  }

  .footer__col-wrapper {
    height: auto;
  }

  .footer__col.col1 {
    height: 100px;
    padding-top: 10px;
  }

}

// ::: FOOTER STYLES ENDS HERE ::: //